form {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .entrar {
        @media (max-width: 600px) {
    
            button {
                width: 90%;
            }
        }
    
        @media (min-width: 600px) {
            button {
                min-width: 10rem;
            }
        }
    }
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
    height: 3px;
}

mat-form-field {
    width: 100%;
}

.email, .senha {
    width: 60%;

    @media (max-width: 1100px) {
        width: 80%;
    }

    @media (max-width: 800px) {
        width: 85%;
    }

    @media (max-width: 570px) {
        width: 90%;
    }
}