form {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (max-width: 600px) {
    
        button {
            width: 90%;
        }
    }

    @media (min-width: 600px) {
        button {
            min-width: 10rem;
        }
    }
}