@use '@angular/material' as mat;
@use '../../../../styles.scss';

div {
    display: flex;
    justify-content: center;

    .shared-card {
        flex-direction: column;
        width: 30%;
        border-radius: var(--mdc-elevated-card-container-shape);
        background-color: var(--mdc-elevated-card-container-color);
        border-width: 0;
        border-style: solid;
        border-color: var(--mdc-elevated-card-container-color);
        box-shadow: var(--mdc-elevated-card-container-elevation);
        margin-top: 1em;

        @media (max-width: 940px) {
            width: 40%;
        }

        @media (max-width: 600px) {
            width: 45%;
        }

        @media (max-width: 550px) {
            width: 50%;
        }

        @media (max-width: 400px) {
            width: 60%;
        }

        @media (max-width: 350px) {
            width: 80%;
        }
    }
  
    .shared-card__label{
        text-align: center;
        background-color: mat.get-color-from-palette(styles.$ContaBancaria-primary, default);
        color: white;
        font-size: large;
    }
    
    .shared-card__content {
        flex-direction: column;
        align-items: center;
    }
}
  
  