

.listing-container {
    .listing-options {
        display: flex;
        margin-top: 0.5%;
        width: 80%;
        margin-left: 10%;

        @media (max-width: 550px) {
            width: 90%;
            margin-left: 5%;
        }

        @media (max-width: 450px) {
            flex-direction: column-reverse;
            align-items: center;
        }
        
        @media (max-width: 325px) {
            width: 96%;
            margin-left: 2%;
        }

        .listing-search {
            width: 50%;
            display: flex;
            align-items: center;
            height: var(--mdc-filled-button-container-height);

            @media (max-width: 450px) {
                width: 60%;
            }

            @media (max-width: 280px) {
                width: 80%;
            }

            @media (max-width: 200px) {
                width: 100%;
            }
        }

        .listing-new {
            width: 50%;
            display: flex;
            justify-content: end;

            button {
                min-width: 50px;
            }

            @media (max-width: 450px) {
                height: 2.5em;
                justify-content: center;
            }

            @media (max-width: 250px) {
                label {
                    display: none;
                }

                mat-icon {
                    margin: 0;
                }


            }
        }
    }
}

::ng-deep .listing-search .mat-mdc-form-field-subscript-wrapper {
    display: none;
}

::ng-deep .listing-search .mat-icon {
    margin: 0 !important;
}

::ng-deep .listing-search  .mat-mdc-form-field-infix {
    padding: 0 !important;
    min-height: auto;

    input {
        height: var(--mdc-filled-button-container-height) !important;
    }
}

::ng-deep .listing-search .mat-mdc-form-field-infix {
    width: 87%;
    height: 100%;
}

::ng-deep .listing-search .mat-mdc-form-field-icon-suffix {
    width: 13%;
    height: 100%;

    button {
        padding: 0;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
    }
}
