@use '@angular/material' as mat;
@use '../../../../../styles.scss';

$max-height-table: 80vh;
$max-height-table-diference: 0.7vh;
$max-height-table-max-window: 985px;
$max-height-table-diference-window: 40px;
$max-height: 100vh;

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }
  
.table-page {
  margin-top: 1rem;
  width: 80%;
  margin-left: 10%;
  overflow-y: auto;
  margin-bottom: 2%;

  @media (max-width: 550px) {
    width: 90%;
    margin-left: 5%;
  }

  @media (max-width: 325px) {
    width: 96%;
    margin-left: 2%;
  }

  .table-container {
    overflow: auto;
    max-height: 580px;
    height: $max-height;
  
    @for $i from 0 through round($max-height-table-max-window / $max-height-table-diference-window) {
      $media-max-height: calc($max-height-table-max-window - $max-height-table-diference-window * $i);
      
      @media (max-height: $media-max-height) { 
  
        @if($media-max-height < 300px){
          $max-height: calc($max-height-table - $max-height-table-diference * ($i * 3) );
    
          height: $max-height;
          min-height: 110px;
        }
        @else if($media-max-height < 480px){
          $max-height: calc($max-height-table - $max-height-table-diference * ($i * 2.5) );
  
          height: $max-height;
        }
        @else {
          $max-height: calc($max-height-table - $max-height-table-diference * ($i * 2) );
  
          height: $max-height;
        }
      }
    }
  
    @media (max-width: 460px) { 
      th, tr {
        font-size: smaller;
  
        th, td {
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }

    td.mat-column-options {
      div {
        display: flex;
    
        > div {
          width: 3em;
    
          @media (max-width: 460px) { 
            width: 2em;
    
            i {
              font-size: medium;
            }
          }
        }
      }
    }
  }
  
  .table-container::-webkit-scrollbar   {
    width: 10px;
    height: 10px;
  }
  
  .table-container::-webkit-scrollbar-track {
    background-color: rgba(228, 228, 228, 0.5);
    border-radius: 100px;
  }
  
  .table-container::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: mat.get-color-from-palette(styles.$ContaBancaria-primary, 400);
    border: 6px solid rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 370px) { 
  ::ng-deep .mat-mdc-paginator-range-label {
    display: none !important;
  }

  ::ng-deep .mat-mdc-paginator-container {
    justify-content: center !important;
  }
}

::ng-deep .mat-mdc-paginator-range-label {
  display: contents;
}



