$max-height-table: 85vh;
$max-height-table-diference: 0.7vh;
$max-height-table-max-window: 985px;
$max-height-table-diference-window: 40px;

.table-container {
  overflow: auto;
  max-height: 100vh;

  @for $i from 0 through round($max-height-table-max-window / $max-height-table-diference-window) {
    @media (max-height: calc($max-height-table-max-window - $max-height-table-diference-window * $i)) { 
      max-height: calc($max-height-table - $max-height-table-diference * ($i * 2) );
    }
  }
}

.table-container::-webkit-scrollbar   {
  width: 10px;
  height: 10px;
}

.table-container::-webkit-scrollbar-track {
  background-color: rgba(228, 228, 228, 0.5);
  border-radius: 100px;
}

.table-container::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #7cc67c;
  border: 6px solid rgba(0, 0, 0, 0.2);
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }
  
.tabela-listagem {
  margin-top: 1rem;
  width: 80%;
  margin-left: 10%;
  overflow-y: auto;

  @media (max-width: 550px) {
    width: 90%;
    margin-left: 5%;
  }

  @media (max-width: 325px) {
    width: 96%;
    margin-left: 2%;
  }
}

@media (max-width: 370px) { 
  ::ng-deep .mat-mdc-paginator-range-label {
    display: none !important;
  }

  ::ng-deep .mat-mdc-paginator-container {
    justify-content: center !important;
  }
}

::ng-deep .mat-mdc-paginator-range-label {
  display: contents;
}

td.mat-column-options {
  div {
    display: flex;

    > div {
      width: 3em;
    }
  }
}

