@if(possuiPermissao){
  <app-card [titulo]="tituloCard">
    @if(estaAutorizado('BancoCentral')){
      <div class="opcao">
        <button mat-stroked-button color="primary" (click)="acessar('banco-central')">Banco Central</button>
      </div>
    }

    @if(estaAutorizado('Banco')){
      <div class="opcao">
        <button mat-stroked-button color="primary" (click)="acessar('banco')">Banco</button>
      </div>
    }

    @if(estaAutorizado('Conta')){
      <div class="opcao">
        <button mat-stroked-button color="primary" (click)="acessar('conta')">Conta</button>
      </div>
    }
  </app-card>
}

