@use '@angular/material' as mat;
@use '../../styles.scss';

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 0.3em;

    .menu {
        top: 0;
        width: 100%;
        height: 9.5%;
        min-height: 3em;
        max-height: 5em;
    }
    
    .menu mat-toolbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        top: 0;
        background-color: mat.get-color-from-palette(styles.$ContaBancaria-primary, 400);
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        -moz-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        height: 100%;
    }
    
    .menu .esquerda {
        width: 50%;
        display: flex;
        justify-content: left;
        align-items: center;
    
    }
    
    .menu .direita {
        width: 50%;
        display: flex;
        justify-content: right;
        align-items: center;
    }
    
    .menu .mat-icon {
        color: white;
    }
    
    .content {
        overflow: auto;
        width: 100%;
        height: 100%;
    }
}