<div class="container">
	<div class="menu">
		<mat-toolbar color="primary">
			<div class="left">
				@if(path){
					<div>
						<button mat-icon-button (click)="voltar()" [ngClass]="{'has-title': title !== ''}">
							<mat-icon>arrow_back</mat-icon>
						</button>
					</div>
				}

			</div>
			<div class="center">
				<div>
					<span >{{ title }}</span>
				</div>
			</div>
			<div class="right">
				<button mat-icon-button (click)="deslogar()" [ngClass]="{'has-title': title !== ''}">
					<mat-icon>logout</mat-icon>
				</button>
			</div>
		</mat-toolbar>
	</div>
	
	<div class="content">
		<router-outlet></router-outlet>
	</div>
</div>
