@media (max-width: 600px) {
    :host {
        width: 100% !important;
    }
    
    button {
        width: 90%;
        margin-left: 5%
    }
}

@media (min-width: 600px) {
    button {
        min-width: 10rem;
    }
}

@media (max-width: 400px) {
    button {
        font-size: smaller;
    }
}

@media (max-width: 200px) {
    button {
        font-size: small;
    }
}
