<div class="listar-container">
    <div class="listar-options">
        <div class="listar-search">
            <mat-form-field>
                <input matInput placeholder="Procurar...">
            </mat-form-field>

            <button mat-flat-button color="primary" aria-label="Adicionar">
                <mat-icon>search</mat-icon>
            </button>
        </div>
        
        <div class="listar-add">
            <button mat-flat-button color="primary" aria-label="Adicionar">
                <mat-icon>add</mat-icon> Adicionar
            </button>
        </div>
    </div>
    
    
    <div class="listar-table">
        <app-table></app-table>
    </div>
</div>

