

.listar-container {
    .listar-options {
        display: flex;

        .listar-search {
            width: 50%;
            margin-left: 10%;
            display: flex;
            align-items: center;
            height: var(--mdc-filled-button-container-height);

            button {
                background-color: #3b873b;
                height: 100%;

                
            }

            mat-form-field {
                height: 100%;
            }
        }

        .listar-add {
            width: 50%;
            display: flex;
            justify-content: end;
            margin-right: 10%;
    
            button {
                background-color: #3b873b;
            }
        }
    }
    
    

    .listar-table {
        
    }
}

::ng-deep .listar-search .mat-mdc-form-field-subscript-wrapper {
    display: none;
}

::ng-deep .listar-search .mat-icon {
    margin: 0 !important;
}

::ng-deep .listar-search  .mat-mdc-form-field-infix {
    padding: 0 !important;

    input {
        height: var(--mdc-filled-button-container-height) !important;
    }
}

::ng-deep .listar-search .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
    border-bottom-color: #3b873b;
}