div {
    display: flex;
    justify-content: center;

    .opcoes {
        flex-direction: column;
        width: 30%;
        border-radius: var(--mdc-elevated-card-container-shape);
        background-color: var(--mdc-elevated-card-container-color);
        border-width: 0;
        border-style: solid;
        border-color: var(--mdc-elevated-card-container-color);
        box-shadow: var(--mdc-elevated-card-container-elevation);
        margin-top: 1em;
    }

    .opcoes__label{
        text-align: center;
        background-color: green;
        color: white;
        font-size: large;
    }
    
    .opcoes__buttons {
        flex-direction: column;

        > div {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
        }

        @media (max-width: 600px) {
        
            button {
                width: 94%;
            }
        }

        @media (min-width: 600px) {
            button {
                min-width: 12em;
            }
          }
    }
}

